<div class="top-centered-page">
    <div class="main-content">
        <div class="header">
            <div class="title">
                Welcome to Westlaw Deep AI Research
            </div>
            <div class="subtitle">
                Dive further into your research topics with detailed, fully cited reports.
            </div>
        </div>
        <div class="content">
            <app-search-bar-v2></app-search-bar-v2>
        </div>
    </div>
    <div class="content">
        <app-bookmarks></app-bookmarks>
    </div>
</div>
